*{
    font-size: 10px;
}
.main {
    display: flex;
justify-content: end;
margin: 7rem;
}

.btn-gray{
    width: 15rem;
  background: gray;
  color: white;
  height: 5rem;
}
.btn-gray p {
    font-size: 1.4rem;
}